.fc .fc-button {
  background-color: #232E52; // Ustawienie koloru tła przycisków
  border: none; // Usunięcie obramowania
  color: #FFF; // Ustawienie koloru tekstu
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.fc .fc-button:hover {
  background-color: #303f6d; // Kolor tła przycisków po najechaniu
}

.fc .fc-button:focus {
  outline: none; // Usunięcie obramowania po kliknięciu
}

.fc .fc-button-group .fc-button {
  margin-right: 5px; // Odstęp między przyciskami
}

.fc .fc-button-group .fc-button:last-child {
  margin-right: 0; // Usunięcie odstępu dla ostatniego przycisku
}

.fc .fc-prev-button, .fc .fc-next-button {
  background-color: #768BC0; // Ustawienie koloru tła strzałek
  border-radius: 50%; // Ustawienie kształtu na kółko
  width: 30px; // Szerokość przycisku
  height: 30px; // Wysokość przycisku
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; // Usunięcie paddingu
}

.fc .fc-prev-button:hover, .fc .fc-next-button:hover {
  background-color: #303f6d; // Kolor tła przycisków po najechaniu
}

/* Zmiana koloru tekstu w kalendarzu na biały */
.fc .fc-toolbar-title,
.fc .fc-daygrid-day-number,
.fc .fc-daygrid-day-top,
.fc .fc-daygrid-event,
.fc .fc-timegrid-slot-label,
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-event,
.fc .fc-col-header-cell-cushion {
  color: #FFF; // Ustawienie koloru tekstu na biały
}

/* Zmiana koloru tekstu w nagłówkach */
.fc .fc-col-header-cell {
  background: #1D2134;
  box-shadow: 0px 1px 0px 0px rgba(51, 63, 72, 0.20) inset, -1px 0px 0px 0px rgba(51, 63, 72, 0.20) inset;
  color: #FFF; // Kolor tekstu nagłówków
}

/* Zmiana koloru tekstu w komórkach */
.fc .fc-daygrid-day {
  background: #1D2134;
  box-shadow: 0px 1px 0px 0px rgba(51, 63, 72, 0.20) inset, -1px 0px 0px 0px rgba(51, 63, 72, 0.20) inset;
  color: #FFF; // Kolor tekstu komórek
  height: 50px; // Zwiększ wysokość komórek
}

/* Zmiana koloru tła kolumny godziny */
.fc .fc-timegrid-axis {
  background: #1D2134;
  box-shadow: 0px 1px 0px 0px rgba(51, 63, 72, 0.20) inset, -1px 0px 0px 0px rgba(51, 63, 72, 0.20) inset;
  color: #FFF; // Kolor tekstu kolumny godziny
}

/* Zwiększenie wysokości komórek w wierszach */
.fc .fc-timegrid-slot {
  height: 40px; // Zwiększ wysokość komórek
}

/* Zmiana koloru podświetlania obecnego dnia */
.fc .fc-day-today {
  background: #1D2337; // Ustawienie koloru tła dla obecnego dnia
  color: #FFF; // Ustawienie koloru tekstu dla obecnego dnia
}