header {
    display: block; // Ustawienie domyślnego wyświetlania
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    height: 100px; // Dodaj wysokość nagłówka

    #logo {
        width: 400px;
        text-align: center;
        line-height: 50px;
    }

    h1 {
        font-size: 48px;
        color: #000000;
        text-align: center;
        flex: 1;
    }
}