legend {
  width: 100%; // Zmień szerokość na 100%
  height: auto; // Usuń stałą wysokość
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #879DDF;
  background: rgba(23, 30, 49, 0.50);
  box-shadow:
          0px 990px 277px 0px rgba(0, 0, 0, 0.00),
          0px 634px 253px 0px rgba(0, 0, 0, 0.03),
          0px 356px 214px 0px rgba(0, 0, 0, 0.10),
          0px 158px 158px 0px rgba(0, 0, 0, 0.17),
          0px 40px 87px 0px rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 20px; // Dodaj odstęp od góry
  margin-left: 0; // Usuń margines z lewej
}

legend ul {
  list-style: none; /* Ustawienia listy */
  display: flex; /* Ustawienia flex */
  gap: 35px; /* Odstępy między elementami */
  padding: 0; /* Usuń padding */
  margin: 0; /* Usuń margin */
}

legend li {
  display: flex;
  align-items: center; /* Wyśrodkowanie elementów */
  font-size: 16px;
  color: #FFFFFF;
}

legend .event-1,
legend .event-2,
legend .event-3,
legend .event-4,
legend .event-5,
legend .event-6,
legend .event-7,
legend .event-8 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px; /* Odstęp między kółkiem a tekstem */
}

legend .event-1 {
  background-color: #FF8000; /* Kolor pierwszego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #FF8000) drop-shadow(0px 0px 1.8px #FF8000) drop-shadow(0px 0px 6.3px #FF8000) drop-shadow(0px 0px 12.6px #FF8000) drop-shadow(0px 0px 21.6px #FF8000) drop-shadow(0px 0px 37.8px #FF8000);
}

legend .event-2 {
  background-color: #3371FF; /* Kolor drugiego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #3371FF) drop-shadow(0px 0px 1.8px #3371FF) drop-shadow(0px 0px 6.3px #3371FF) drop-shadow(0px 0px 12.6px #3371FF) drop-shadow(0px 0px 21.6px #3371FF) drop-shadow(0px 0px 37.8px #3371FF);
}

legend .event-3 {
  background-color: #33FF57; /* Kolor trzeciego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #33FF57) drop-shadow(0px 0px 1.8px #33FF57) drop-shadow(0px 0px 6.3px #33FF57) drop-shadow(0px 0px 12.6px #33FF57) drop-shadow(0px 0px 21.6px #33FF57) drop-shadow(0px 0px 37.8px #33FF57);
}

legend .event-4 {
  background-color: #FF0; /* Kolor czwartego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #FF0) drop-shadow(0px 0px 1.8px #FF0) drop-shadow(0px 0px 6.3px #FF0) drop-shadow(0px 0px 12.6px #FF0) drop-shadow(0px 0px 21.6px #FF0) drop-shadow(0px 0px 37.8px #FF0);
}

legend .event-5 {
  background-color: #FF00E5; /* Kolor piątego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #FF00E5) drop-shadow(0px 0px 1.8px #FF00E5) drop-shadow(0px 0px 6.3px #FF00E5) drop-shadow(0px 0px 12.6px #FF00E5) drop-shadow(0px 0px 21.6px #FF00E5) drop-shadow(0px 0px 37.8px #FF00E5);
}

legend .event-6 {
  background-color: #F00; /* Kolor szóstego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #F00) drop-shadow(0px 0px 1.8px #F00) drop-shadow(0px 0px 6.3px #F00) drop-shadow(0px 0px 12.6px #F00) drop-shadow(0px 0px 21.6px #F00) drop-shadow(0px 0px 37.8px #F00);
}

legend .event-7 {
  background-color: #00CED1; /* Kolor siódmego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #00CED1) drop-shadow(0px 0px 1.8px #00CED1) drop-shadow(0px 0px 6.3px #00CED1) drop-shadow(0px 0px 12.6px #00CED1) drop-shadow(0px 0px 21.6px #00CED1) drop-shadow(0px 0px 37.8px #00CED1);
}

legend .event-8 {
  background-color: #800080; /* Kolor ósmego wydarzenia */
  filter: drop-shadow(0px 0px 0.9px #800080) drop-shadow(0px 0px 1.8px #800080) drop-shadow(0px 0px 6.3px #800080) drop-shadow(0px 0px 12.6px #800080) drop-shadow(0px 0px 21.6px #800080) drop-shadow(0px 0px 37.8px #800080);
}