main_content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap; // Dodaj to, aby elementy mogły się zawijać
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%; // Zmień szerokość na 100%
    max-width: 300px; // Ustaw maksymalną szerokość
    border-radius: 10px;
    background: rgba(23, 30, 49, 0.85);
    box-shadow: 0px 613px 172px 0px rgba(0, 0, 0, 0.00),
    0px 392px 157px 0px rgba(0, 0, 0, 0.01),
    0px 221px 132px 0px rgba(0, 0, 0, 0.05),
    0px 98px 98px 0px rgba(0, 0, 0, 0.09),
    0px 25px 54px 0px rgba(0, 0, 0, 0.10);
    padding: 10px;
    box-sizing: border-box;
    flex: 1; // Dodaj to, aby aside automatycznie dostosowywał swoją szerokość
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    color: #FFF;
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
}

form input {
    height: 36px;
    border-bottom: 1px solid #879DDF;
    background: #1D2134;
    color: #9D9DA5;
    text-align: left;
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0 10px;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    appearance: none; // Usunięcie domyślnego stylu checkboxa
    width: 20px;
    height: 20px;
    border: 2px solid #879DDF;
    border-radius: 50%; // Ustawienie kształtu na kółko
    background-color: transparent;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-right: 10px; // Odstęp między checkboxem a tekstem
    box-sizing: border-box; // Upewnij się, że padding jest wliczany do szerokości i wysokości
}

form input[type="checkbox"]:checked {
    background-color: #879DDF; // Kolor tła zaznaczonego checkboxa
    border-color: #879DDF;
}

form input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%; // Ustawienie kształtu na kółko
    background-color: #FFF; // Kolor wewnętrznego kółka
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%; // Dodaj to, aby dropdown dostosowywał swoją szerokość
}

.dropdown-toggle {
    background-color: #232E52; // Zmień kolor tła na taki sam jak przyciski
    border: none; // Usuń obramowanie
    color: #FFF; // Zmień kolor tekstu na biały
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 20px; // Zmień rozmiar czcionki na taki sam jak przyciski
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px;
    width: 100%; // Dodaj to, aby przycisk dostosowywał swoją szerokość
    height: 40px; // Zmień wysokość na taką samą jak przyciski
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px; // Dodaj zaokrąglone rogi
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(23, 30, 49, 0.85);
    border: 1px solid #879DDF;
    border-radius: 6px;
    width: 100%; // Dodaj to, aby menu dostosowywało swoją szerokość
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu label {
    display: flex;
    align-items: center;
    font-size: 14px; // Ustawienie osobnej wielkości fontu dla checkboxów
}

.management-dropdown {
    position: relative; // Ustawienie pozycji względnej dla kontenera
}

.management-dropdown:hover .management-menu {
    display: flex; // Użyj flexboxa, aby wyświetlić menu w kolumnie
}

.management-menu {
    display: none; // Ukryj menu domyślnie
    flex-direction: column; // Ustawienie elementów w kolumnie
    border-radius: 6px; // Dodaj zaokrąglone rogi do menu
    overflow: hidden; // Zapewnij, że zaokrąglone rogi będą widoczne
    padding: 10px; // Dodaj padding, aby dodać odstęp między ramką a przyciskami
    position: absolute; // Ustawienie pozycji absolutnej dla menu
    top: 100%; // Ustawienie menu poniżej przycisku
    left: 0; // Wyrównanie menu do lewej krawędzi kontenera
    width: 100%; // Ustawienie szerokości menu na 100% szerokości kontenera
    box-sizing: border-box; // Upewnij się, że padding jest wliczany do szerokości
}

.management-menu .dropdown-item {
    background-color: #232E52; // Ustaw kolor tła przycisków
    color: #FFF; // Ustaw kolor tekstu na biały
    border: none; // Usuń obramowanie
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 16px; // Zmniejsz rozmiar czcionki
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; // Dostosuj wysokość linii
    width: 100%; // Ustaw szerokość na 100%
    height: 30px; // Zmniejsz wysokość przycisków
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0; // Usuń zaokrąglone rogi z przycisków
    margin-bottom: 10px; // Dodaj margines dolny, aby zwiększyć odstęp między przyciskami
}

.management-menu .dropdown-item:last-child {
    margin-bottom: 0; // Usuń margines dolny dla ostatniego elementu
}

.management-menu .dropdown-item:hover {
    background: #879DDF; // Zmień kolor tła przycisków po najechaniu
    color: #101010; // Zmień kolor tekstu po najechaniu
}

.vector-icon {
    width: 5.5px;
    height: 2.5px;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 2px;
    stroke: #FFF;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-button,
.reset-button,
.management-button,
.dropdown-toggle {
    width: 100%; // Zmień szerokość na 100%
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #232E52;
    color: #FFF;
    text-align: center;
    font-family: Onest, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.5px;
    border: none;
    cursor: pointer;
}

.search-button:hover,
.reset-button:hover,
.management-button:hover,
.dropdown-toggle:hover {
    background: #879DDF;
    color: #101010;
}
