#accessibility-settings {
    position: fixed; // Przyklejenie do stałej pozycji
    top: 10px; // Odległość od góry strony
    right: 20px; // Odległość od prawej krawędzi strony
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000; // Warstwa nad innymi elementami

    #accessibility-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: white;

        &:hover {
            color: #879DDF;
        }
    }

    #accessibility-dropdown {
        display: none; // Menu początkowo ukryte
        position: absolute;
        top: 40px; // Odległość rozwijanego menu od przycisku
        right: 0;
        background: #171E31;
        border: solid 0.5px #768BC0;
        border-radius: 8px;
        padding: 10px;
        color: #768BC0;
        z-index: 10;
        display: flex; // Przyciski w poziomie
        gap: 10px;

        details {
            position: relative;

            summary {
                list-style: none;
                background: none;
                border: none;
                color: white;
                font-size: 18px;
                cursor: pointer;

                &:hover {
                    color: #879DDF;
                }
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                left: 0;
                top: 100%;
                background: #171E31;
                border: solid 0.5px #768BC0;
                border-radius: 8px;
                padding: 10px;
                z-index: 10;
                display: flex; // Ustawienie flexboxa
                flex-direction: column; // Ustawienie elementów w kolumnie
                align-items: center; // Wyśrodkowanie elementów w poziomie

                button {
                    display: block;
                    background: none;
                    border: none;
                    padding: 5px;
                    color: white;
                    text-align: center; // Wyśrodkowanie tekstu
                    cursor: pointer;

                    &:hover {
                        background: #879DDF;
                        color: black;
                    }

                    &:nth-child(2) i {
                        color: #E1FF00; // Zmiana koloru drugiego oka
                    }

                    &:nth-child(3) {
                        background: #E1FF00; // Zmiana koloru tła trzeciego oka
                    }

                    &:nth-child(3) i {
                        color: black; // Zmiana koloru trzeciego oka
                    }
                }
            }

            &[open] .dropdown-menu {
                display: flex; // Wyświetlenie menu w kolumnie
            }
        }
    }

    button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            color: #879DDF;
        }
    }
}